#root {
  max-width: 100%;
  margin: auto;
  padding: 0rem 1.5rem 0rem 1rem;
}


.message-bar{
  border: none;
  min-height: 100px;
  width: 750px;
  padding: 20px;
  border-radius: 25px;
  background: #424242;
}

.message-bar .message-input{
  border: none;
  background: #424242;
  color: white;
  font-size: 15px;
  width: 100%;
  min-height: auto;
  max-height: 200px;
}


.message-bar .message-input:focus{
  border: none !important;
  box-shadow: none;
}

.message-bar .message-input:focus-within{
  border: none !important;
  box-shadow: none;
  background: inherit;
  color: white;
}

.message-bar.message-input::placeholder {
  color: #fff !important; /* Your desired color */
}

.rag-container{
  height: 100vh !important;
}


.chat-item:hover{
  background-color: #aaa;
  cursor: pointer;
  border-radius: 5px;
}

.message-bar.message-input::-webkit-scrollbar-thumb{
  height: 2px !important;
  background: red !important;
}

.chat-item-active{
  background-color: #aaaaaaa3;
  cursor: pointer;
  border-radius: 5px;
}

.chat-item{
  margin-top: 10px;
}


.chat-item input:focus{
  box-shadow: none ;
  border: none;
}

.chat-item input:target-within{
  box-shadow: none ;
  border: none;
}