#root {
  max-width: 100%;
  margin: auto;
}


.message-bar {
  border: none;
  min-height: 80px;
  width: 800px;
  padding:20px;
  border-radius: 25px;
  background: #303030;
}

.message-bar .message-input {
  border: none;
  background: #303030;
  color: white;
  font-size: 15px;
  width: 100%;
  min-height: auto; 
  font-family: Arial, Helvetica, sans-serif;
}

.message-input::-webkit-scrollbar{
  width:5px !important;
  height:5px !important;
}
.message-input::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* visible thumb */
  border-radius: 1rem;
}

.message-bar .message-input:focus {
  border: none !important;
  box-shadow: none;
}

.message-bar .message-input:focus-within {
  border: none !important;
  box-shadow: none;
  background: inherit;
  color: white;
}

.message-bar.message-input::placeholder {
  color: #fff !important;
  /* Your desired color */
}

.rag-container {
  height: 100vh !important;
  padding: 0rem 1.5rem 0rem 1rem;
}


.chat-item:hover {
  background-color: #aaaaaa17;
  cursor: pointer;
  border-radius: 5px;
}

.message-bar.message-input::-webkit-scrollbar-thumb {
  height: 2px !important;
  background: red !important;
}

.chat-item-active {
  background-color: #aaaaaa17;
  cursor: pointer;
  border-radius: 5px;
}

.chat-item {
  margin-top: 10px;
}


.chat-item input:focus {
  box-shadow: none;
  border: none;
}

.chat-item input:target-within {
  box-shadow: none;
  border: none;
}

.chat-list-bar::-webkit-scrollbar {
  width: 0.3rem !important;
  background-color: rgb(102, 91, 91);
  border-radius: 1rem;
}

.chat-list-bar::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* visible thumb */
  border-radius: 1rem;
}

.disable-submit {
  cursor: not-allowed !important;
  opacity: 0.5;
}


.hover-icons:hover {
  background-color: rgba(212, 209, 215, 0.199);
  border-radius: 8px;
}

.chat-viewer::-webkit-scrollbar {
  width: 0.3rem !important;
  background-color: transparent; /* keep track background clean */
  border-radius: 1rem;
}

.chat-viewer::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* visible thumb */
  border-radius: 1rem;
}

input::placeholder,
textarea::placeholder {
  color: #aaa !important; /* change to any color */
  font-weight: 500;
  opacity: 1;  /* make sure it's fully visible */
}

.dropdown-toggle::after{
  border: none !important;
}

.blink-progress {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #bbc0bb; /* or any color you want */
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
